.btns{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:5px;
    max-width: 320px;
    width: 100%;
    position:relative;
    margin-top: -10px;
    padding-top: 40px;
}
.error{
    color:red;
    position:absolute;
    top:0;
    left:0;
}
.register_link{
    text-decoration: underline;
}