* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-family: Arial, sans-serif; 
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit; 
}
h2{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 30px;
}

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color:  rgb(16, 244, 252);
  --secondary-color:  #f9f9f9;;
}

[data-theme='dark'] {
  --background-color: #121212;
  --text-color: #ffffff;
  --primary-color: #2980b9;
  --secondary-color:  #a4a2a2;;
}


body {
  background-color: var(--background-color);
  color: var(--text-color);
}

.header {
  background-color: var(--primary-color);
}

.button {
  background-color: var(--secondary-color);
  color: var(--text-color);
}


.container{
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: auto;

}
.main{
  margin: auto;
  padding: 110px 0 30px 0;
  max-height: 100vh;
}

input {
  background: 0 0;
  color:black;
  height: auto;
  font-size: 16px;
  padding: 12px 5px;
  display: block;
  max-width: 320px;
  width: 100%;
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  outline: none;
  background-color: #fff !important;
}

button {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--text-color) ;
  background-color: var(--primary-color);
  border-radius: 20px;
  font-style: normal;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 20px;
}
form{
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  margin: auto;
}

a{
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}

